* {
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
}
html {
	position: relative;
}
body {
	margin-bottom: 100px;
	overflow-x: hidden;
	color: #0f0f0f;
}
p {
	font-family: 'Roboto Slab', sans-serif;
}
h3 {
	font-family: 'Montserrat', sans-serif;
}
section {
	min-height: 610px;
}
@-webkit-keyframes translateY{
	0%{
		-webkit-transform:translateY(-30px);
		transform:translateY(-30px)}50%{-webkit-transform:translateY(0);
		transform:translateY(0)}100%{-webkit-transform:translateY(-30px);
		transform:translateY(-30px)}}
@keyframes translateY{
	0%{
		-webkit-transform:translateY(-30px);
		transform:translateY(-30px)}50%{-webkit-transform:translateY(0);
		transform:translateY(0)}100%{-webkit-transform:translateY(-30px);
		transform:translateY(-30px)}}

nav {
	background: linear-gradient(to right, #532e1c, #532e1c, #532e1c, #c5a880);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
	z-index: 40;
	font-family: 'Open Sans', sans-serif;
}

.nav-link {
	color: #e6e6e6 !important;
}
.ilustration-home {
	width: 400px;
	height: 300px;
	margin-top: 100px;
}

@media only screen and (max-width: 1200px){
	.ilustration-home {
		display: none;
	}
}
.image {
	-webkit-animation-name:translateY;
	animation-name:translateY;
	-webkit-animation-duration:4s;
	animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
}
.home {
	background-image: url(image/jumbfinal.svg);
	background-size: cover;
}
.author {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-top: 100px;
}
.content {
	color: #e6e6e6;
	text-align: center;
}
.who {
	font-weight: bold;
}
.subcontent h3 {
		font-weight: bold;
}

hr {
	border-top: 2px solid #FFD369;
	margin-top: 1px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}
.about {
	background-image: url(image/sec2final.svg);
	background-size: cover;
	min-height: 1350px;
}
.profil {
	width: 100%;
}
.my {
	margin-top: 20px;
}
.my hr {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
.my h3 {
	font-weight: bold;
}
.box {
	width: 200px;
	height: 200px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

}
.box2 {
	width: 300px;
	height: 300px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

}
.expe {
	margin-top: 20px;
}

.portfolio {
	background-image: url(image/sec3final.svg);
	background-size: cover;
	margin-top: -5px;
}
.portfolio hr{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
.portfolio h3 {
	font-weight: bold;
}
.port {
	margin-top: 50px;
}
.achievement {
	background-image: url(image/sec4final.svg);
	background-size: cover;
	margin-top: -5px;
}
.achievement hr{
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
.achievement h3 {
	font-weight: bold;
}
.img-thumbnail {
	width: 270px;
	height: 270px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.contact {
	background-image: url(image/sec5final.svg);
	background-size: cover;
}
.cont{
	margin-top: 20px;
	font-weight: bold;
}
.contact hr {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
.box-sosmed {
	background-color: transparent;
	padding: 20px;
}
.icon {
	border-radius: 50%;
}

footer {
position: absolute;
width: 100%;
height: 100px;
background-color: #C8B08F;
padding-top: 30px;
bottom: 0;
}
footer p {
font-size: 1em;
}

@media (min-width: 992px) {
	.nav-link {
		color: #e6e6e6 !important;
		text-transform: uppercase;
	}
	.author {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin-top: 190px;
	}
	.content {
		margin-top: 220px;
		text-align: left;
		font-family: 'Montserrat', sans-serif;
	}
	.who {
		font-weight: bold;
	}
	hr {
		border-top: 2px solid #FFD369;
		margin-top: 1px;
		width: 250px;
		margin-left: 0;
	}
	.subcontent {
		margin-top: 50px;
	}
	.about {
	background-image: url(image/sec2final.svg);
	background-size: cover;
	min-height: 610px;
	}
	.my {
		margin-top: 20px;
	}
	.my hr {
		margin-left: auto;
		margin-right: auto;
		width: 150px;
	}
	.box {
		width: 200px;
		height: 200px;
		background-color: transparent;
		margin-left: 140px;
		padding: 10px;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

	}
	.box2 {
		width: 270px;
		height: 270px;
		background-color: transparent;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

	}
	.expe {
	margin-top: 0;
	}
	.embed-responsive {
		position:relative;
		display:block;
		height:0;
		padding:0;
		overflow:hidden
	}
	.embed-responsive-16by9 {
		padding-bottom:56.25%;
	}
	.embed-responsive .embed-responsive-item {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
		border:0
	}
	.port {
	margin-top: 50px;
	}
	.gal {
	margin-top: 50px;
	}
	.box-sosmed {
		margin-right: auto;
		margin-left: auto;
	}
	.icon {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

}

/*@media (min-width: 992px) and (max-width: 1281px) {
	.nav-link {
		color: #e6e6e6 !important;
		text-transform: uppercase;
	}
	.home {
		background-image: url(image/jumbfinal.svg);
		background-size: cover;
	}
	.author {
		border-radius: 50%;
		width: 200px;
		height: 200px;
		margin-top: 75%;
	}
	.content {
		color: #e6e6e6;
		margin-top: 50%;
	}
	hr {
		border-top: 2px solid #FFD369;
		margin-top: 1px;
		width: 250px;
	}
	.about {
		background-image: url(image/sec2final.svg);
		background-size: cover;

	}
	.portfolio {
		background-image: url(image/sec3final.svg);
		background-size: cover;
	}
	.sec-2 {
		background-image: url(image/tes2.svg);
		background-size: cover;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.nav-link {
		color: #e6e6e6 !important;
	}
	.home {
		background-image: url(image/jumb1.svg);
		height: 350px;
		background-size: cover;
	}
	.author {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		display: block;
		margin-top: 75px;
		margin-left: auto;
		margin-right: auto;
	}
	.content {
		color: #e6e6e6;
		text-align: center;
		margin-top: 15px;
	}
	.name {
		font-size: 20px;
	}
	.who {
		font-size: 15px;
	}
	hr {
		border-top: 2px solid #FFD369;
		margin-top: 0px;
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	sec-2 {
		background-image: url(image/tes2.svg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
}*/